/* src/styles/DashboardToolbar.css */

.floating-dashboard-button {
  position: fixed;
  bottom: 20px;
  right: 20px; /* changed from left to right */
  z-index: 1000;
}

.floating-dashboard-button button {
  background-color: #032d60;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.floating-dashboard-button button:hover {
  background-color: #5f27cd;
}
